<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RestFull Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'style.css' %}">
</head>
<body>
    <h1>Users</h1>
   <table>
    <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Action</th>
    </tr> 
    {% for user in users.all%}
        <tr>
        <td>{{forloop.counter}}</td> 
        <td>{{user.full_name}}</td> 
        <td>{{user.email}}</td> 
        <td>{{user.created_at}}</td>    
        <td><a href="users/show/{{user.id}}">Show</a> <a href="users/edit/{{user.id}}">Edit</a> <a href="users/delete/{{user.id}}">Delete</a></td>    
    </tr>
    {% endfor%}
    
   

   </table>

    <br> <a href="users/new">Add a new user</a>
    
</body>
</html>