<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users View</title>
</head>
<body>
    <h1>User {{users.id}}</h1>
    <p>Full Name: {{users.full_name}}</p>
    <p>Email: {{users.email}}</p>
    <p>Created at: {{users.created_at}}</p>
    <br>
    <a href="/users">Go Back |</a>
    <a href="/users/delete/{{users.id}}">Delete</a>
</body>
</html>